[Unit]
Description=SmokeMaster3000
After=network-online.target
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/SM3k
Environment="PYTHONPATH=/home/pi/SM3k"
ExecStart=/home/pi/SM3k/.venv/bin/python -m smoker.main
Restart=always
RestartSec=2
Nice=-10
CPUSchedulingPolicy=rr
CPUSchedulingPriority=50

[Install]
WantedBy=multi-user.target
